In [6]:
import pandas as pd
d = {'source': ['a', 'b'],
 'destination_1': ['contact_1', 'contact_6'],
 'destination_2': ['contact_2', 'contact_7']}
df = pd.DataFrame(d)

In [7]:
df

  source destination_1 destination_2
0      a     contact_1     contact_2
1      b     contact_6     contact_7

In [8]:
df2 = pd.wide_to_long(df, stubnames='destination_', i=['source'], j='number')
df2

              destination_
source number
a      1         contact_1
b      1         contact_6
a      2         contact_2
b      2         contact_7

In [5]:
df2['destination_']

source  number
a       1         contact_1
b       1         contact_6
a       2         contact_2
b       2         contact_7
Name: destination_, dtype: object

In [22]:
e = {'source': ['0', '1'],
 'content_1': ['contact_1', 'contact_3'],
 'content_2': ['contact_2', 'contact_7']}
df_e = pd.DataFrame(e)
df_e

  source  content_1  content_2
0      0  contact_1  contact_2
1      1  contact_3  contact_7

In [23]:
df2_e = pd.wide_to_long(df_e, stubnames='content_', i=['source'], j='number')
df2_e

                content_
source number
0      1       contact_1
1      1       contact_3
0      2       contact_2
1      2       contact_7

In [26]:
df2_e = df2_e.sort_index(axis=0)
df2_e

                content_
source number
0      1       contact_1
       2       contact_2
1      1       contact_3
       2       contact_7