In [2]:
import pandas as pd
import random

def randomGenerator(num_len, num_min, num_max):
    result = []
    for i in range(num_len):
        result.append(random.randint(num_min, num_max))
    return result
    
roof = randomGenerator(10000, 0, 1)
yard = randomGenerator(10000, 0, 1000)
bathroom = randomGenerator(10000, 1, 5)
livingroom = randomGenerator(10000, 0, 3)
room = randomGenerator(10000, 1, 20)

df = pd.DataFrame({'roof' : roof, 'yard' : yard, 'bathroom' : bathroom, 'livingroom' : livingroom, 'room' : room})

df['price'] = df['roof'] * 1000 + df['yard'] * 100 + df['bathroom'] * 500 + df['livingroom'] * 800 + df['room'] * 300

df.head()

   roof  yard  bathroom  livingroom  room  price
0     0   227         3           0    12  27800
1     0   182         1           0    11  22000
2     0   234         4           0     1  25700
3     1    40         1           0     3   6400
4     0   420         2           1    10  46800

In [3]:
x = df[['roof', 'yard', 'bathroom', 'livingroom', 'room']]
y = df['price']

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [4]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

result = pd.DataFrame({'pred' : y_pred, 'real' : y_test})

result.head()

        pred    real
1359   12900   12200
9370  100100  101100
9336    8600    9600
3220   47600   51700
5102   47400   52500

In [5]:
from sklearn.metrics import mean_absolute_error

print('MAE score:', mean_absolute_error(y_test, y_pred))

MAE score: 2708.9666666666667

In [6]:
result['ratio(%)'] = abs((result['pred'] - result['real']) / result['real']) * 100

result.head()

        pred    real   ratio(%)
1359   12900   12200   5.737705
9370  100100  101100   0.989120
9336    8600    9600  10.416667
3220   47600   51700   7.930368
5102   47400   52500   9.714286

In [7]:
import numpy as np

mean_ratio = np.mean(result['ratio(%)'])

print(mean_ratio)

6.8733444136019815

In [8]:
num = [1, 10, 100, 200]

for i in num:
    model = RandomForestClassifier(n_estimators = i)
    model.fit(x_train, y_train)
    
    y_pred = model.predict(x_test)
    
    percent = abs((y_pred - y_test) / y_test) * 100
    print(np.mean(percent))

8.623662537388931
6.9224392678892634
6.755667222843325
6.1985590538228585